@model IEnumerable<Projekt.Data.Data.CMS.Strona>


<div class="hero_area">
    <div class="bg-box">
        <img src="~/lib/bootstrap/dist/images/hero-bg.jpg" alt="">
    </div>




    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Projekt
                    </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">

                        @foreach (var item in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link" @Html.ActionLink(item.Tytul,"Index","Home",new { id = item.IdStrony },null)
                                >
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Oferta","Index", "Sklep")
                            </a>
                        </li>

                    </ul>
                    <div class="user_option">
                        <a class="order_online" @Html.ActionLink("Zamów teraz","Index", "Sklep")
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    @await Html.PartialAsync("Slider",(IEnumerable<Projekt.Data.Data.CMS.Slider>) ViewBag.Slider)

</div>
