@model Projekt.PortalWWW.Models.Sklep.DaneDoKoszyka

@{
    ViewData["Title"] = "Koszyk";
    Layout = "~/Views/Shared/_KoszykLayout.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/css/cart.css" />

<body class="">
    
    <div class="container">
        <header>
            <h1>Your Shopping Cart</h1>
     
        </header>

        <div class="list">
                      <div class="shopping">
                @foreach (var item in Model.ElementyKoszyka)
                {
                            <div class="col-sm-6 col-lg-4 all pizza">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                    @if (item.Danie.FotoURL != null)
                                    {
                                                        <img src="data:image;base64,@Convert.ToBase64String(item.Danie.FotoURL)" alt="@item.Danie.FotoURL" />
                                    }
                                        </div>

                                        <div class="detail-box">
                                    @*Nazwa*@
                                            <h5>
                                        @Html.ActionLink(item.Danie.Nazwa, "Szczegoly", "Sklep", new { id = item.IdDania }, null)
                                            </h5>
                                    @*Opis*@
                                            <p>
                                        @Html.Raw(item.Danie.Opis)
                                            </p>
                                    @*Opcje - cena*@
                                            <div class="options">
                                                <h6>
                                            @String.Format("{0:F}",item.Danie.Cena) zł
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                }  
        </div>
    </div>
    <div class="card">
        <h1>Card</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <script src="~\css\app.js"></script>
</body>
</html>