@model Projekt.Data.Data.CMS.ONas

@{
    ViewData["Title"] = "Dodaj o nas";
}

<h4>O nas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:219px; --mdc-ripple-fg-scale:1.73175; --mdc-ripple-fg-translate-start:179.5px, -87.5px; --mdc-ripple-fg-translate-end:73.75px, -87px;">
                    <label asp-for="Tytul" class="mdc-floating-label"></label>
                    <input asp-for="Tytul" class="mdc-text-field__input" />
                    <span asp-validation-for="Tytul" class="text-danger"></span>
                </div>
                <div class="mdc-text-field mdc-ripple-upgraded" style="--mdc-ripple-fg-size:219px; --mdc-ripple-fg-scale:1.73175; --mdc-ripple-fg-translate-start:179.5px, -87.5px; --mdc-ripple-fg-translate-end:73.75px, -87px;">
                    <label asp-for="Tresc" class="mdc-floating-label"></label>
                    <input asp-for="Tresc" class="mdc-text-field__input" />
                    <span asp-validation-for="Tresc" class="text-danger"></span>
                </div>
                <br />
                <br />


                <br />
                <br />
                <div>
                    <button class="mdc-button mdc-button--raised icon-button filled-button--warning mdc-ripple-upgraded" style="--mdc-ripple-fg-size:21px; --mdc-ripple-fg-scale:2.90056; --mdc-ripple-fg-translate-start:21.625px, -1.5px; --mdc-ripple-fg-translate-end:7.5px, 7.5px;">
                        <i class="material-icons mdc-button__icon" type="submit" value="Dodaj">add</i>
                        Dodaj
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
<br />

<div>
    <a asp-action="Index" class="mdc-button mdc-button--outlined outlined-button--dark mdc-ripple-upgraded" --mdc-ripple-fg-translate-end:14.3828px, -2.5px;">Powrót do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
