@model Projekt.Data.Data.Sklep.Promocja

@{
    ViewData["Title"] = "Usuwanie";
}

<h1>Usuwanie</h1>
<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>@Model.Nazwa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tytuł:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class="col-sm-2">
            Treść:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div>
            <button class="mdc-button mdc-button--unelevated filled-button--secondary mdc-ripple-upgraded" style="--mdc-ripple-fg-size:65px; --mdc-ripple-fg-scale:1.92922; --mdc-ripple-fg-translate-start:22.5px, -15.5px; --mdc-ripple-fg-translate-end:22.3203px, -14.5px;">
                <i class="material-icons mdc-button__icon" type="submit" value="Delete">delete</i>
                Usuń
            </button>
        </div>
        <div>
            <a asp-action="Index" class="mdc-button mdc-button--outlined outlined-button--dark mdc-ripple-upgraded" --mdc-ripple-fg-translate-end:14.3828px, -2.5px;">Powrót do listy</a>
        </div>

    </form>
</div>